In [9]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv('NYC_property_sales.csv')

1. How does the distribution of average household expenditure vary across different expenditure categories?

In [16]:
data[(data['residential_units'].isin([1, 2, 3])) | (data['apartment_number'].notnull())]

,borough,neighborhood,building_class_category,tax_class_at_present,block,lot,building_class_at_present,address,apartment_number,zip_code,residential_units,commercial_units,total_units,land_square_feet,gross_square_feet,year_built,tax_class_at_time_of_sale,building_class_at_time_of_sale,sale_price,sale_date
0,Bronx,Bathgate,01 One Family Dwellings,1,3030,62,A1,4463 Park Avenue,NaN,10457.0,1,0,1,1578,1470,1899,1,A1,455000,2018-11-28T00:00:00Z
1,Bronx,Bathgate,01 One Family Dwellings,1,3030,70,A1,4445 Park Avenue,NaN,10457.0,1,0,1,1694,1497,1899,1,A1,388500,2019-07-23T00:00:00Z
2,Bronx,Bathgate,01 One Family Dwellings,1,3039,63,A1,469 E 185th St,NaN,10458.0,1,0,1,1650,1296,1910,1,A1,419000,2018-12-20T00:00:00Z
3,Bronx,Bathgate,01 One Family Dwellings,1,3043,55,A1,1948 Bathgate Avenue,NaN,10457.0,1,0,1,2356,2047,1901,1,A1,470000,2019-03-08T00:00:00Z
4,Bronx,Bathgate,01 One Family Dwellings,1,3046,35,A1,2083 Bathgate Avenue,NaN,10457.0,1,0,1,2050,1560,1899,1,A1,445000,2018-12-17T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38172,Staten Island,Woodrow,02 Two Family Dwellings,1,7349,35,B9,33 Quail Lane,NaN,10309.0,2,0,2,2255,2377,1998,1,B9,640000,2019-03-08T00:00:00Z
38173,Staten Island,Woodrow,02 Two Family Dwellings,1,7351,22,B2,22 Herrick Avenue,NaN,10309.0,2,0,2,4000,2400,2000,1,B2,917000,2019-03-01T00:00:00Z
38174,Staten Island,Woodrow,02 Two Family Dwellings,1,7355,68,B9,62 Ambassador La,NaN,10309.0,2,0,2,2340,2160,2001,1,B9,610000,2019-08-06T00:00:00Z
38175,Staten Island,Woodrow,02 Two Family Dwellings,1,7355,85,B9,104 Ambassador Lane,NaN,10309.0,2,0,2,2730,2565,2001,1,B9,625000,2019-07-30T00:00:00Z
38176,Staten Island,Woodrow,02 Two Family Dwellings,1,7355,95,B9,115 Ambassador Lane,NaN,10309.0,2,0,2,8846,1710,2001,1,B9,637500,2019-08-20T00:00:00Z

In [19]:
data['building_class_category'] = data['building_class_category'].str.split(' ').str[0]
data

,borough,neighborhood,building_class_category,tax_class_at_present,block,lot,building_class_at_present,address,apartment_number,zip_code,residential_units,commercial_units,total_units,land_square_feet,gross_square_feet,year_built,tax_class_at_time_of_sale,building_class_at_time_of_sale,sale_price,sale_date
0,Bronx,Bathgate,01,1,3030,62,A1,4463 Park Avenue,NaN,10457.0,1,0,1,1578,1470,1899,1,A1,455000,2018-11-28T00:00:00Z
1,Bronx,Bathgate,01,1,3030,70,A1,4445 Park Avenue,NaN,10457.0,1,0,1,1694,1497,1899,1,A1,388500,2019-07-23T00:00:00Z
2,Bronx,Bathgate,01,1,3039,63,A1,469 E 185th St,NaN,10458.0,1,0,1,1650,1296,1910,1,A1,419000,2018-12-20T00:00:00Z
3,Bronx,Bathgate,01,1,3043,55,A1,1948 Bathgate Avenue,NaN,10457.0,1,0,1,2356,2047,1901,1,A1,470000,2019-03-08T00:00:00Z
4,Bronx,Bathgate,01,1,3046,35,A1,2083 Bathgate Avenue,NaN,10457.0,1,0,1,2050,1560,1899,1,A1,445000,2018-12-17T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38172,Staten Island,Woodrow,02,1,7349,35,B9,33 Quail Lane,NaN,10309.0,2,0,2,2255,2377,1998,1,B9,640000,2019-03-08T00:00:00Z
38173,Staten Island,Woodrow,02,1,7351,22,B2,22 Herrick Avenue,NaN,10309.0,2,0,2,4000,2400,2000,1,B2,917000,2019-03-01T00:00:00Z
38174,Staten Island,Woodrow,02,1,7355,68,B9,62 Ambassador La,NaN,10309.0,2,0,2,2340,2160,2001,1,B9,610000,2019-08-06T00:00:00Z
38175,Staten Island,Woodrow,02,1,7355,85,B9,104 Ambassador Lane,NaN,10309.0,2,0,2,2730,2565,2001,1,B9,625000,2019-07-30T00:00:00Z
38176,Staten Island,Woodrow,02,1,7355,95,B9,115 Ambassador Lane,NaN,10309.0,2,0,2,8846,1710,2001,1,B9,637500,2019-08-20T00:00:00Z

In [20]:
data['price_per_sqft'] = data['sale_price'] / data['gross_square_feet']
data

,borough,neighborhood,building_class_category,tax_class_at_present,block,lot,building_class_at_present,address,apartment_number,zip_code,...,commercial_units,total_units,land_square_feet,gross_square_feet,year_built,tax_class_at_time_of_sale,building_class_at_time_of_sale,sale_price,sale_date,price_per_sqft
0,Bronx,Bathgate,01,1,3030,62,A1,4463 Park Avenue,NaN,10457.0,...,0,1,1578,1470,1899,1,A1,455000,2018-11-28T00:00:00Z,309.523810
1,Bronx,Bathgate,01,1,3030,70,A1,4445 Park Avenue,NaN,10457.0,...,0,1,1694,1497,1899,1,A1,388500,2019-07-23T00:00:00Z,259.519038
2,Bronx,Bathgate,01,1,3039,63,A1,469 E 185th St,NaN,10458.0,...,0,1,1650,1296,1910,1,A1,419000,2018-12-20T00:00:00Z,323.302469
3,Bronx,Bathgate,01,1,3043,55,A1,1948 Bathgate Avenue,NaN,10457.0,...,0,1,2356,2047,1901,1,A1,470000,2019-03-08T00:00:00Z,229.604299
4,Bronx,Bathgate,01,1,3046,35,A1,2083 Bathgate Avenue,NaN,10457.0,...,0,1,2050,1560,1899,1,A1,445000,2018-12-17T00:00:00Z,285.256410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38172,Staten Island,Woodrow,02,1,7349,35,B9,33 Quail Lane,NaN,10309.0,...,0,2,2255,2377,1998,1,B9,640000,2019-03-08T00:00:00Z,269.246950
38173,Staten Island,Woodrow,02,1,7351,22,B2,22 Herrick Avenue,NaN,10309.0,...,0,2,4000,2400,2000,1,B2,917000,2019-03-01T00:00:00Z,382.083333
38174,Staten Island,Woodrow,02,1,7355,68,B9,62 Ambassador La,NaN,10309.0,...,0,2,2340,2160,2001,1,B9,610000,2019-08-06T00:00:00Z,282.407407
38175,Staten Island,Woodrow,02,1,7355,85,B9,104 Ambassador Lane,NaN,10309.0,...,0,2,2730,2565,2001,1,B9,625000,2019-07-30T00:00:00Z,243.664717
38176,Staten Island,Woodrow,02,1,7355,95,B9,115 Ambassador Lane,NaN,10309.0,...,0,2,8846,1710,2001,1,B9,637500,2019-08-20T00:00:00Z,372.807018